@import "../../variables";

.input {
  background: $surface;
  border: none;
  border-bottom: solid 2px $idle;
  padding: 1% 6% 1% 2%;
  color: $text;
  border-radius: 2px;
  display: block;
  margin: auto;
  font-size: 100%;
  transition: border-color 0.5s ease;
  flex: 0 1 auto;
  &:focus {
    outline: none;
    border-color: $primary;
  }
  &::placeholder {
    color: $text;
  }
}
