$primary: #bb86fc;
$secondary: #3700b3;
$success: #03dac5;
$text: #fff;
$text-secondary: lighten(#000, 60);
$idle: lighten(#000, 25);
$background: #121212;
$surface: lighten(#000, 4);
$error: #cf6679;
